@use '../../styles/variables' as *;

.banner {
  width: 100%;
  min-height: 100%;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;

  img {
    width: 100%;
    max-width: 900px;
    height: auto;
  }
}
